.hiden {
    display: none;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

/* Reset */
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
        }
}

/* Header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list, 
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.burger-btn {
    display: none;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts {
    font-style: normal;
    display: block;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}
.nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    ;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
    position: relative;
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link.current,
.nav-link:focus {
    color: #404bbf;
}
.nav-link:hover::after,
.nav-link:focus:after,
.nav-link.current::after {
    opacity: 1;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 1158px) {
.header-logo {
margin-right: 76px;
}
.contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
}

/* Hero section */

.hero-section {
    background-color: #2e2f42;
    padding: 72px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/dark-bg-mobile-min.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/dark-bg-mobile@2x-min.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/dark-bg-tablet-min.jpg);
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/dark-bg-tablet@2x-min.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/dark-bg-main-min.jpg);
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/dark-bg-main@2x-min.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 216px;
    margin: 0 auto 72px;
}